/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html,body {
    height: 100%;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font: 14px/23px Helvetica, Helvetica Neue, Arial;
    color: #666;
}

h1, h2, h3, h4 {
    font-family: Helvetica, Helvetica Neue, Arial;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
    color: #333;
}

h3 {
    font-size: 18px;
}

a {
    color: #666;
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0;
}

.main article {
    box-sizing: border-box;
    padding: 30px;
}

.main article img {
    padding: 1em 1em 1em 0;
}
.main aside {
    min-height: 100%;
    box-sizing: border-box;
    background: url(../img/carl_nordlander.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    margin-bottom: 1em;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 767px) {
    .main aside {
      position: relative;
      max-height: 70vh;
    }
    .main aside:before {
      display: block;
      content: " ";
      width: 100%;
      padding-top: 100%;
    }
    .main aside > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .main aside {
    }

/* ============
    WIDE: Main
   ============ */
    .main {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
    }
    .main article {
        width: 50%;
        padding: 100px 60px;
        overflow: scroll;
    }

    .main aside {
        width: 50%;
        border: #fff 5vh solid;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}